@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--font-khmerOSSiemreap)
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 40s linear infinite;
  /* Adjust '40s' to control speed of scrolling */
  width: max-content;
  /* Ensures that the content can expand as much as it needs horizontally */
}


@layer base {
  body {
    @apply font-primary;
  }
}

