@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--font-khmerOSSiemreap)
}

.background-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: 
    linear-gradient(to top, rgba(12, 126, 165, 1), rgba(12, 126, 165, 0.3)), /* Fading effect with opacity */
    url('/images/it-pattern.png'), 
    linear-gradient(to bottom, rgba(12, 126, 165, 1), rgba(12, 126, 165, 0.3)), /* Fading effect with opacity */
    url('/images/flower-pattern.png');
  background-position: top center, top center, bottom center, bottom center;
  background-repeat: no-repeat, repeat-x, no-repeat, repeat-x;
  background-size: auto 10rem, auto 10rem, auto 5rem, auto 5rem;
}



@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 40s linear infinite;
  /* Adjust '40s' to control speed of scrolling */
  width: max-content;
  /* Ensures that the content can expand as much as it needs horizontally */
}


@layer base {
  body {
    @apply font-primary;
  }
}

